/* FIX ME */

.coursePageContainer {
	@apply pb-5;
}

.coursePageContainer h1 {
	@apply text-3xl font-mono text-secondary-content my-5 font-black;
}

.coursePageContainer h2 {
	@apply font-extrabold text-2xl  text-secondary-content  font-mono my-3;
}

.coursePageContainer h3 {
	@apply text-xl font-bold text-secondary-content  font-mono my-1;
}

.coursePageContainer h4 {
	@apply text-lg mt-3 mb-1 text-secondary-content font-semibold  font-mono;
}

.coursePageContainer p {
	@apply py-3 text-secondary-content text-justify;
}

.coursePageContainer ul {
	@apply py-1 text-secondary-content pl-2 ml-2 list-disc;
}

.coursePageContainer ol {
	@apply py-1 text-secondary-content pl-2 ml-2 list-decimal;
}

.coursePageContainer li {
	@apply py-1 text-secondary-content pl-2 ml-2;
}

.coursePageContainer a {
	@apply font-black text-blue-600 hover:text-orange-500;
}

.coursePageContainer table {
	@apply border border-accent;
}

.coursePageContainer th {
	@apply border border-accent p-2;
}

.coursePageContainer td {
	@apply border border-accent p-2;
}

.coursePageContainer code {
	@apply p-[1px] bg-primary text-primary-content rounded-sm;
}

.coursePageContainer blockquote {
	@apply bg-gray-300 p-3 border-l-[15px] border-info;
}

.coursePageContainer .slt {
	@apply bg-primary text-primary-content font-bold text-lg mb-3 p-3 align-middle rounded-lg drop-shadow;
}

.coursePageContainer img {
	display: block; /* Makes images block-level to center them easily if needed */
	margin-left: auto;
	margin-right: auto; /* Center images within the container */
}
